<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<!-- Include header fragment -->
<div th:replace="/fragments/header :: header (title='Task List - Organize to find a Job')"></div>

<div class="container page-content">
    <h2>All Tasks</h2>
    <a href="/create" class="btn btn-primary mb-3">Create New Task</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Start Date</th>
            <th scope="col">Duration (Hours)</th>
            <th scope="col">Completed</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.taskDescription}">Task Name</td>
            <td>
                <span th:if="${task.startDate != null}"
                      th:text="${task.startDate.year + '-' + task.startDate.monthValue + '-' + task.startDate.dayOfMonth + ' ' + task.startDate.hour + ':' + task.startDate.minute}"></span>
                <span th:if="${task.startDate == null}">No start date</span>
            </td>
            <td th:text="${task.durationInHours}">Duration</td>
            <td>
                <span th:if="${task.completed}">
                    <i class="fas fa-check-circle" style="color: green;"></i> <!-- Tick verde -->
                </span>
                <span th:if="${!task.completed}">
                    <i class="fas fa-times-circle" style="color: red;"></i> <!-- X roja -->
                </span>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${task.id})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/delete/{id}(id=${task.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Include footer fragment -->
<div th:replace="/fragments/footer :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
